@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --main-font: 'Nunito Sans', sans-serif;
}

body {
  background-color: rgb(209, 209, 209);
  font-family: var(--main-font);
  
}

.contentContainer {
  height: 100%;
  box-shadow: 2px 2px 6px 8px #30303025;
}

@media screen and (max-width: 768px) {
  .list-card {
    flex-wrap: wrap;

    img {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 425px) {
  .list-card 
  
  .card-title {
    font-size: 1rem !important;
  }

  .card-subtitle, .link {
    font-size: 0.8rem !important;
  }
}