:root {
  --main-font: 'Nunito Sans', sans-serif;
}

body {
  background-color: rgb(209, 209, 209);
  font-family: var(--main-font);
  
}

.contentContainer {
  height: 100%;
}


.list-card {
  width: 50rem;

  img {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .list-card {
    flex-wrap: wrap;

    img {
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
      max-height: 12rem;
    }
  }
}

@media screen and (max-width: 482px) {
  .navbar {
    margin: auto;
  }
}

@media screen and (max-width: 425px) {
  .list-card 
  
  .card-title {
    font-size: 1rem !important;
  }

  .card-subtitle, .link {
    font-size: 0.8rem !important;
  }
}
